<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<h2>
    <%= @article.title %>
</h2>

<p>
    <%= @article.content %>
</p>

<%= link_to 'Back', articles_path %>

<br>

<h3>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Name:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <%= comment.email %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <br>
  <br>
<% end %>

<br>

<h3>Comment on article:</h2>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>